# These values are not active, trying to use them will not work.
# Database
DATABASE_URL="postgresql://username:password@localhost:5432/database_name?schema=public"

# Email Configuration
ZEPTOMAIL_TOKEN="Zoho-enczapikey wSsVR60jrh7wXK57lDf8L+47zAtWAFzzR09/2wD06iT4Gf3E88c+kkSaBFWkG/MZFTFrQjpHorksn0oG0zANitQvw14BDCiF9mqRe1U4J3x17qnvhDzOXGpbkRqJLY4Pxg9imGliEs8n+g=="
ZEPTOMAIL_API_URL="api.zeptomail.com/"
FROM_EMAIL="noreply@learnmedmath.com"

# JWT Secret
JWT_SECRET="cb1970f0ffa85f5705d2e5aeb5f9770797a240c570ea529f1d4924ff909e2df3"

# Application URL
APP_URL="https://learnmedmath.com"

# PostHog Analytics
VITE_POSTHOG_KEY="your_posthog_api_key_here"
VITE_POSTHOG_HOST="https://app.posthog.com"
